<link rel="stylesheets" href="tweet.form">
  <%= form_with(model: @tweet, local: true) do |form| %>
  <div class='form-text'>
    <div class= "title_text_field">
     <%= form.text_field :title, placeholder: "title" %>
    </div>
    <div class='title_text_area'>
      <%= form.text_area :text,placeholder: "text", rows: "10"%>
    </div>
      <%= form.submit "SEND" %>
  </div>
  <% end %>