<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
   <h1 class='main-title'>
    Spoil Me More 
   </h1>
    <p class='servicr-explain'>
    spoil me more は、いつも頑張っているあなたに
    </p>
  </div>

  <div class='main-lists'>
    <ul class='main-lists-contents'>
      <li><%= link_to '今日も頑張ったよ', "#", class: "post-up" %></li>
      <li><%= link_to '幸せをお裾分け', "#", class: "comment-up" %></li>
    </ul>
  </div>
</div>
<footer>
<%= render "shared/footer" %>
</footer>